extends layout

include mixins/_header
include mixins/_pageCard

block header
    +header(user)

block content
    .inner
        p= user
        h2= title
        - const noPages = pages.length === 0
        ul
            if noPages
                p There are no pages to edit.
                a(href="/addpage"): p Add a page to start
            each page in pages
                li
                    +pageCard(page)
                    button(type="button" class="deletePageBtn" data-id=page._id) Delete page