extends layout

block content
    .inner
        form.form(action="/register" method="POST")
            //-pre= h.dump(body)
            h2= title
            if user
                label(for="role") Role
                select(name="role" required)
                    option(disabled selected=`${!body}` value="") Choose user role
                    option(value="administrator" selected=`${body && (body.role === "administrator")}`) Administrator
                    option(value="editor" selected=`${body && (body.role === "editor")}`) Editor
            label(for="firstname") First name
            input(type="text" name="firstname" required value=(body && body.firstname))
            label(for="lastname") Last name
            input(type="text" name="lastname" required value=(body && body.lastname))
            label(for="email") Email
            input(type="email" name="email" required value=(body && body.email))
            label(for="password") Password
            input(type="password" name="password")
            label(for="confirm-password") Confirm Password
            input(type="password" name="confirm-password")
            input.button(type="submit" value="Register")