include _contentSectionForm

mixin pageSchemaForm(page = {})
    form.form(name="page_schema" action="/schema" method="POST")
        h2 Add content sections
        p Choose what content to manage
        +contentSectionForm(Date.now())
        //- change class on button
    
        //- Getting nowhere with this. Think it'll need to be handled wholesale on the JS side with a separate file
        // - put markup for contentSectionForm into node and use 
        // - this.parentNode.insetBefore(contentSectionForm, this)
    
        button.nav__link(type="button" id="addSectionBtn" onClick="") 
            != h.icon('add')
            span Add section
        input.button(for="page_schema" type="submit" value="Save")