include _contentSectionForm

mixin pageSchemaForm(page = {})
    form.form(name="page_schema" action="/schema" method="POST")
        h2 Add content sections
        p Choose what content to manage
        +contentSectionForm(Date.now())
        //- change class on button
        button.nav__link(type="button") 
            != h.icon('add')
            span Add section
        
        input.button(for="page_schema" type="submit" value="Save")